Repository kelly6414143/knowledge-base, changes with the owners that .github/CODEOWNERS names for each.
All owners: @web-leads, @mobile-leads, @sre-team, @oncall-leads, @product-ops

.github/CODEOWNERS:

/docs/platform/web/   @web-leads
/docs/platform/mobile/ @mobile-leads
/docs/ops/            @sre-team
/playbooks/           @oncall-leads
/incidents/           @sre-team @product-ops

docs: glossary: add HTTP status quick reference
  docs/glossary/http-status.md
Owners: none

refactor:移除不必要資料
  README.md
  docs/ai-ml/README.md
  docs/ops/README.md
  docs/product/README.md
  incidents/README.md
  templates/template-incident.md
Owners: @sre-team, @product-ops

docs:增加引用區塊語法
  CONTRIBUTING.md
  README.md
  docs/blockquotes/README.md
Owners: none

docs:增加python學習記錄第一天以及增加學習記錄範本
  docs/glossary/README.md
  docs/glossary/http-status.md
  docs/platform/README.md
  docs/python/1th.md
  playbooks/README.md
  playbooks/web-error-triage.md
  templates/template-faq.md
  templates/template-incident.md
  templates/template-learn-record.md
  templates/template-sop.md
Owners: @oncall-leads

docs: python 1.st添加JS&PY差異範例
  docs/python/1th.md
Owners: none

docs:增加pythonDay2
  README.md
  docs/python/1th.md
  docs/python/2nd.md
Owners: none

docs:增加pythonDay3+glob模組
  README.md
  docs/modules/glob.md
  docs/python/3rd.md
Owners: none

docs:引用區塊增加進階技巧
  docs/blockquotes/README.md
Owners: none

docs:目錄增加python day3
  README.md
Owners: none

docs: 模板增加圖表套件matplotlib和seaborn
  docs/modules/matplotlib.md
  docs/modules/seaborn.md
Owners: none

docs: 新增iPAS目錄, 以及增加機器學習密集課程文章
  README.md
  docs/iPAS_AI/basic/機器學習密集課程/images/01.png
  docs/iPAS_AI/basic/機器學習密集課程/images/02.png
  docs/iPAS_AI/basic/機器學習密集課程/images/03.png
  docs/iPAS_AI/basic/機器學習密集課程/機器學習簡介.md
Owners: none

docs:增加prompt與安裝文擋
  docs/note/install.md
  docs/prompt/README.md
Owners: none

docs:調整檔名
  docs/python/1st.md
Owners: none

docs:增加pythonDay4, 並且練習ing
  docs/python/4th.md
Owners: none

docs: 增加iPAS_AI 初級Day2內容
  docs/iPAS_AI/basic/機器學習密集課程/Day1_機器學習簡介.md
  docs/iPAS_AI/basic/機器學習密集課程/Day2_線性迴歸與損失函數.md
Owners: none

docs:增加合聚方法，以及調整day4內容(練習ing)
  docs/modules_methods/glob.md
  docs/modules_methods/groupby.md
  docs/modules_methods/matplotlib.md
  docs/modules_methods/seaborn.md
  docs/python/3rd.md
  docs/python/4th.md
Owners: none

docs:調整分群聚和標題
  docs/modules_methods/groupby.md
Owners: none

docs:增加iPAS_AI初級Day3內容
  docs/iPAS_AI/basic/機器學習密集課程/Day3_線性迴歸與超參數.md
Owners: none

docs: 增加LLM文檔
  docs/blockquotes/README.md
  docs/local_LLM/README.md
Owners: none

docs: 增加向量相關資訊
  docs/local_LLM/名詞解釋.md
  docs/local_LLM/安裝向量資料庫.md
  docs/local_LLM/建置本地LLM.md
  docs/local_LLM/生成向量.md
Owners: none

docs:生成簡報提示詞
  docs/prompt/簡報.md
Owners: none

docs: 本地LLM前置作業步驟1&2
  docs/local_LLM/前置作業.md
Owners: none

docs: 增加LLM相關文件
  docs/local_LLM/Q&A.md
  docs/local_LLM/名詞解釋.md
Owners: none

增加python ocr文檔
  docs/local_LLM/Q&A.md
  docs/local_LLM/名詞解釋.md
  docs/python/PaddleOCR.md
  docs/python/python venv.md
Owners: none

feat: 增加python的工具包
  docs/python/PaddleOCR.md
  docs/python/open-cc.md
  docs/python/opencv-python.md
  docs/python/paddle-ocr.md
Owners: none

增加相關prompt指令紀錄
  docs/cursor/prompt.md
  docs/cursor/react-prompt.md
  docs/cursor/vue-prompt.md
Owners: none

增加window 桌面& webstorm快捷文檔
  docs/webstorm快捷鍵/整行用法.md
  docs/webstorm快捷鍵/整頁用法.md
  docs/webstorm快捷鍵/選取相同y軸.md
  docs/桌面快捷鍵/多桌面.md
Owners: none

docs: 增加prompt與excel相關文件
  docs/cursor/prompt.md
  docs/cursor/vue-prompt.md
  docs/excel/時間搓.md
Owners: none

新增claude與prompt文檔，包含claudeWeb的隱私設定與prompt的撰寫指南。這些文檔將幫助用戶更好地理解和使用claudeWeb的功能，並提供實際操作步驟和畫面示例，以提升用戶體驗和滿意度。
  docs/claude/settings/claudeCode_privacy.md
  docs/claude/settings/claudeWeb_privacy.md
  docs/cursor/prompt.md
  docs/excel/時間搓.md
  docs/桌面快捷鍵/powerToys.md
  docs/桌面快捷鍵/分割畫面.md
Owners: none

docs: 增加AI相關文檔
  docs/claude/google_api/README.md
  docs/claude/hooks/level.md
  docs/claude/settings/claudeCode_privacy.md
  docs/claude/settings/privacy_FQA.md
  docs/claude/skills/README.md
  docs/cursor/Notice.md
  note.md
Owners: none
